.newsletter__wrapper {
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--color-base-accent-1);
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.newsletter__wrapper .newsletter__heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
  font-size: clamp(22.041px, 1.378rem + ((1vw - 3.2px) * 0.872), 36px);
  font-weight: 600;
}

.newsletter__wrapper .newsletter__subheading p {
  margin-bottom: 0;
}

.newsletter__wrapper .newsletter-form {
  margin-top: 50px;
  margin-bottom: 10px;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 644px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .field {
  display: flex;
  gap: 10px;
}

.newsletter__wrapper .field__label {
  margin-top: 4px;
}

.newsletter__wrapper .field__input {
  height: 50px;
  background-color: #fff;
  border-color: transparent;
  color: #9CA3AF;
  border-radius: 10px;
}

.newsletter__wrapper .field__button {
  font-weight: 400;
  padding: 0 30px;
  line-height: 50px;
  height: 50px;
  border-radius: 10px;
  color: #000;
  background-color: var(--color-base-accent-2);
}

.newsletter__wrapper .field__button:hover {
  background-color: #fff;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter .newsletter__wrapper .newsletter-form .newsletter-form__message {
  position: unset;
}

@media (max-width: 767px) {
  .newsletter__wrapper .field {
    flex-direction: column;
    justify-content: center;
  }
}