.logo-brand .heading {
  margin-bottom: 50px;
  font-size: clamp(22.041px, 1.378rem + ((1vw - 3.2px) * 0.872), 36px);
  font-weight: 600;
}

.logo-brand .brand-item {
  border-radius: 10px;
  min-height: 160px;
  padding: 15px;
  background-color: #fff;
  text-align: center;
}