.vtcolllist .heading {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: clamp(22.041px, 1.378rem + ((1vw - 3.2px) * 0.872), 36px);
  font-weight: 600;
  text-transform: capitalize;
}

.vtcolllist .swiper-slider {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.vtcolllist .colllist-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.vtcolllist .colllist__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  background: #FFFFFF66;
  backdrop-filter: blur(10px);
  line-height: 20px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  text-align: center;
}