.contform-iconbox {
    display: flex;
    gap: 30px 0;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.contform-iconbox .contform-box {
    background-color: #fff;
    padding: 25px 15px;
    text-align: center;
    border-radius: 10px;
}

.contform-iconbox .contform-box svg {
    width: 40px;
    height: auto;
}

.contform-iconbox .contform-box p {
    margin: 0;
}

.contform-bottom {
    display: flex;
    flex-wrap: wrap;
}

.contform-bottom .contact {
    width: 580px;
}

.contform-bottom .contform-map {
    width: calc(100% - 580px);
    padding-left: 20px;
}

.contact .contact-form {
    border-radius: 10px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 86px;
    padding-left: 25px;
    background-color: #FFF;
}

.contact img {
    max-width: 100%;
}

.contact .form__message {
    align-items: flex-start;
    font-size: 14px;
}

.contact .icon-success {
    margin-top: 0.2rem;
}

.contact .field {
    margin-bottom: 1.5rem;
}

.grecaptcha-badge {
    visibility: hidden;
}

#map iframe {
    max-width: 100%;
}

.vtcontform li svg {
    width: 40px;
    height: 40px;
    fill: var(--color-vtmaincolors-text);
    margin-bottom: 15px;
}

.vtcontform li h4 {
    font-size: calc(var(--font-body-scale) * 18px);
    margin-bottom: 10px;
}

.vtcontform li p {
    font-size: rgb(0, 0, 0);
    margin-bottom: 0;
}

.vtcontforminner {
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    #ContactForm {
        margin-bottom: 15px;
    }

    .vtcontform li svg {
        width: 26px;
        height: 26px;
        margin-bottom: 6px;
    }

    .vtcontform li h4 {
        margin-bottom: 4px
    }
}

@media (max-width: 575px) {
    .vtcontforminner [class*='col-'] {
        margin-bottom: 15px;
    }

    .vtcontforminner {
        margin-bottom: 0;
    }
}