.blog-slider .blog-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 50px;
}

.blog-slider .heading {
  margin: 0;
}

.blog-slider .button {
  display: flex;
  align-items: center;
  font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.25), 18px);
}