.vtcolllist .vtcolllist-slider {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.vtcolllist .colllist-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.vtcolllist .colllist-wrapper img {
  width: 100%;
}
.vtcolllist .colllist__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  background: #FFFFFF66;
  backdrop-filter: blur(10px);
  line-height: 20px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}